.container-error{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 60rem;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    position:absolute;
}

.container-error:hover{
    transform: translate(3rem,0);
    -webkit-transform: translate(3em,0);
    -moz-transform: translate(3em,0);
    -o-transform: translate(3em,0);
    -ms-transform: translate(3em,0);
}

.container-error img{
    max-width: 40rem;
}

.container-error h1{
    font-size: 4.8rem;
    color: white;
    margin-bottom: 4rem;
}

@media (max-width: 425px) {
    .container-error{
        max-width: 30rem;
    }
}